.mainbox {
    margin: auto;
    height: 450px;
    width: 550px;
    position: relative;
    background-color:rgb(169, 215, 255);
    border-radius: 10px;
  }
  
    .err {
      color: #4a94c2;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    color: #4a94c2;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 40%;
      top: 8%;
      font-style: normal;
  }
  
   .err2 {
      color: #4a94c2;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 60%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      color: azure;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: #4a94c2;
  }
  
  a:hover {
    text-decoration: underline;
  }
  