/* index */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('./assets/images/background.jpg');
}


h1 {
    text-align: center;
    text-transform: uppercase;
}



img.car {
    height: 500px;
    width: 660px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

img.logo {
    width: 110px;
    height: 80px;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
    box-shadow: 5px 5px 10px;
}



a {
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
}

div.details {
    display: block;
    margin: auto;
    width: 50%;
    background-color: white;
    padding: 1em;
}


/* forms */
form label {
    background: #385169;
    color: white;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

input.difficulty {
    width: 20%;
}



div.form {
    border-radius: 5px;
    padding: 20px;
    width: 36%;
    margin: auto;
    display: block;
    background-color: #f3f3f2;
}

span.error {
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
    background: #EF5542;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    position: relative;
    float: right;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}

img#sadFaceImg{
    display: block;
    margin: 0 auto;
}

h2{
    text-align: center;
}


/*Animations & Transitions
*/


@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


h1 {
    font-weight: bold;
    color: floralwhite;
}

.acc {
    color: floralwhite;
}

.accImg {
    width: 125px;
    height: 125px;
}

div.imgHolder {
    background-color: #f5ce62;
    padding: 15px;
    width: 670px;
    
    display: block;
    margin: auto;    
}



h2.username {
    font-style: italic;
    font-size: larger;
    text-align: center;
    color: #f5ce62;

}
ul.errors {
    list-style: none;
}

ul li::before {
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
    but smaller than the li gap */
    font-size: 1.25em;
  }