<h1>Log In</h1>
<div class="form">
    <form #form="ngForm" class="login" (ngSubmit)="loginSubmitHandler(form)">

        <label for="email">Email</label>
        <input #email="ngModel" ngModel [class]="(email.touched && email.invalid) ? 'input-error' : '' "
        type="email" id="email" name="email" required appEmailFieldValidator>
        
        <!-- Email validation errors -->
        <p *ngIf="email.touched && email.errors?.['required']" class="error">
            Email is required!
        </p>
        <ng-container *ngIf="email.touched && email.errors?.['validator']">
            <p class="error" *ngFor="let e of email.errors?.['validator']">
                * {{e}}
            </p>
        </ng-container> 

        <label for="password">Password</label>
        <input #password="ngModel" ngModel [class]="(password.touched && password.invalid) ? 'input-error' : '' "
        type="password" id="password" name="password" required minlength="6">

        <!-- Password validation errors -->
        <p *ngIf="password.touched && password.errors?.['required']" class="error">
            Password is required!
        </p>
        <p *ngIf="password.touched && password.errors?.['minlength']" class="error">
            Password must be at least 6 characters!
        </p>

        <input [disabled]="form.touched && form.invalid" type="submit" value="log in">
    </form>
</div>