header {
    list-style-type: none;
    margin: 0 0 3em;
    padding: 0.5% 1%;
    background-color: #385169;
    width: 100%;
    height: 10%;
}

header ul {
    font-size: larger;
}

header ul li {
    display: inline-block;
    vertical-align: middle;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 15px;
}

header ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}