<header>
    <ul>
      <!-- {{#if loggedUser}} -->
      <li><img class="logo" src="./assets/images/logo.png"></li>
      <li>
        <h2 class="username">Welcome, user!</h2>
      </li>
      <li><a routerLink="/catalog">Browse</a></li>
      <li><a routerLink="/create">sell car</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/logout">Logout</a></li>
      <!-- {{else}} -->
      <li><img class="logo" src="./assets/images/carbicle.jpg"></li>
      <li><a routerLink="/catalog">Browse</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
      <!-- {{/if}} -->
    </ul>
  </header>