header {
    list-style-type: none;
    margin: 0 0 3em;
    padding: 1px;
    background-color: #385169;
    width: 100%;
    height: auto;
    text-align: left;
}

header ul {
    font-size: larger;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 15px;
}

header ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h2.username {
    font-style: italic;
    font-size: larger;
    text-align: center;
    color: #f5ce62;
    margin-right: 20px;
    margin-left: 30px;
}