
h1 {
    font-weight: bold;
    color: #385169;
}

div.about {
    display: block;
    margin: auto;
    margin-bottom: 20%;
    background-color: #f3f3f2;
    padding: 3em;
}


div.about a {
    text-decoration: none;
    color: #0B2133;
    font-weight: bold;
}

div.about a:hover {
    text-decoration: underline;
  }