<h1>Car*Market</h1>
<form #form="ngForm" (submit)="searchHandler(form)">
  <!-- Search by brand or model -->
  <input ngModel type="text" class="search" name="brand" placeholder="Search for a brand...">
  <br>
  <input ngModel type="text" class="search" name="model" placeholder="Search for a model...">
  <br>
  <!-- Search by year -->
  <input #minYear="ngModel" ngModel type="number" name="minYear" class="difficulty" placeholder="Year from...">
  <span class="dash">-</span>
  <input #maxYear="ngModel" ngModel type="number" name="maxYear" class="difficulty" placeholder="Year to...">
  <br>
  <!-- Search by price -->
  <input #minPrice="ngModel" ngModel type="number" name="minPrice" class="difficulty" placeholder="Price from...">
  <span class="dash">-</span>
  <input #maxPrice="ngModel" ngModel type="number" name="maxPrice" class="difficulty" placeholder="Price to...">
  <br>
  <!-- Search by location -->
  <input ngModel type="text" name="location" class="difficulty" placeholder="Location...">
  <br>
  <!-- Search by swappability -->
  <label class="dash" for="isSwappable">Show only swappable choices?
    <input ngModel class="checkbox" type="checkbox" id="isSwappable" name="isSwappable">
  </label>
  <br>
  <br>
  <input type="submit" value="search">
</form>


<!-- Catalog / Browse Search Results -->
<ng-container *ngIf="!detailView" class="catalog">
  <ng-container *ngIf="(ads$ | async) as ads">

    <div *ngIf="!searching && ads.length == 0" class="catalog">
      <p class="dash">NO ADS YET</p>
    </div>
    <div *ngIf="searching && ads.length == 0" class="catalog">
      <p class="dash">No matching ads...</p>
    </div>

    <div class="cube" *ngFor="let ad of ads">
      <img class="preview" src="{{(ad.img && ad.img != '') ? ad.img : '../../../../../assets/images/generic.jpg'}}">
      <p class="name">{{ad.brand}} {{ad.model}}</p>

      <div class="description">
        <p><span>Price:</span>{{ad.price}} BGN</p>
        <p><span>Year:</span>{{ad.year}}</p>
        <p><span>Location:</span>{{ad.location}}</p>
      </div>

      <a (click)="showDetailsHandler(ad)" class="btn">Details</a>
    </div>
  </ng-container>
  <br>
  <a *ngIf="searching && !detailView" class="back-btn" (click)="cancelSearchHandler()">Cancel Search</a>
</ng-container>


<ng-container *ngIf="detailView">
  <app-car-ad-details [userId]="userId" [carAd]="detailView"></app-car-ad-details>
  <a class="back-btn" (click)="onBackToBrowsing()">Back To Browsing</a>
</ng-container>