<h1>Car*Market</h1>
<form #form="ngForm" (ngSubmit)="searchHandler(form)">
  <!-- Search by brand or model -->
  <input #searchBrand="ngModel" ngModel type="text" class="search" name="searchBrand" placeholder="Search for a brand...">
  <br>
  <input #searchModel="ngModel" ngModel type="text" class="search" name="searchModel" placeholder="Search for a model...">
  <br>
  <!-- Search by year -->
  <input #minYear="ngModel" ngModel type="number" name="minYear" class="difficulty" placeholder="Year from...">
  <span class="dash">-</span>
  <input #maxYear="ngModel" ngModel type="number" name="maxYear" class="difficulty" placeholder="Year to...">
  <br>
  <!-- Search by price -->
  <input #minPrice="ngModel" ngModel type="number" name="minPrice" class="difficulty" placeholder="Price from...">
  <span class="dash">-</span>
  <input #maxPrice="ngModel" ngModel type="number" name="maxPrice" class="difficulty" placeholder="Price to...">
  <br>
  <!-- Search by location -->
  <input #searchLocation="ngModel" ngModel type="text" name="searchLocation" class="difficulty" placeholder="Location...">
  <br>
  <input type="submit" value="search">
</form>

<!-- All Ads -->
<div *ngIf="!searching" class="catalog">
  <div class="cube" *ngFor="let ad of allCarAds">
    <img class="preview" src="{{(ad.img && ad.img != '') ? ad.img : '../../../../../assets/images/generic.jpg'}}">
    <p class="name">{{ad.brand}} {{ad.model}}</p>
    <p><span>Price:</span>{{ad.price}} $</p>

    <button class="btn more">Description</button>
    <div class="description">
      <p>{{ad.description}}</p>
    </div>

    <a routerLink="/details/{{ad._id}}" class="btn">Details</a>
  </div>
</div>

<!-- Ad-search results -->
<div *ngIf="searching" class="catalog">
  <div class="cube" *ngFor="let ad of searchedAds">
    <img class="preview" src="{{(ad.img && ad.img != '') ? ad.img : '../../../../../assets/images/generic.jpg'}}">
    <p class="name">{{ad.brand}} {{ad.model}}</p>
    <p><span>Price:</span>{{ad.price}} $</p>

    <button class="btn more">Description</button>
    <div class="description">
      <p>{{ad.description}}</p>
    </div>
    <a routerLink="/details/{{ad._id}}" class="btn">Details</a>
  </div>
  <br>
  <p *ngIf="searchedAds!.length == 0" class="dash">No matching ads...</p>
  <button class="cancel" (click)="cancelSearchHandler()">Cancel Search</button>
</div>


<!-- no ads in DB -->
<div *ngIf="!allCarAds" class="catalog">
  <p class="dash">NO ADS YET</p>
</div>