<h1>Car*Market</h1>
<form>
  <input type="text" class="search" name="search" placeholder="Search car brand or model...">
  <br>
  <input type="number" name="from" class="difficulty" placeholder="Price from...">
  <span class="dash">-</span>
  <input type="number" name="to" class="difficulty" placeholder="Price to...">
  <br>
  <input type="text" name="location" class="difficulty" placeholder="Location...">
  <br>
  <input type="submit" value="search">
</form>

<div class="catalog">
  <div class="cube" *ngFor="let ad of (carAds | async)">
    <img class="preview" src="{{(ad.img && ad.img != '') ? ad.img : '../../../../../assets/images/generic.jpg'}}">
    <p class="name">{{ad.brand}} {{ad.model}}</p>
    <p><span>Price:</span>{{ad.price}} $</p>

    <button class="btn more">Description</button>
    <div class="description">
      <p>{{ad.description}}</p>
    </div>

    <a routerLink="/details/{{ad._id}}" class="btn">Details</a>
  </div>
</div>

<div *ngIf="!(carAds | async)" class="catalog">
  <p class="dash">NO ADS YET</p>
</div>

<!--<div class="cube">
        <img class="preview"
          src="../../../assets/images/camaro.jpg">
        <p class="name">Camaro</p>
        <p><span>Price:</span>5000$</p>
        
        <button id="descriptionBtn" class="btn more">Description</button>
        <div class="description"><p>Nice Camaro bro!</p></div>
        
        <a routerLink="/details" class="btn">Details</a>
      </div>-->